################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net6.0
/.vs/API/FileContentIndex
/API/obj
/.vs
